* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  :root{
    --margin-top:1rem;
    --margin-bottom:1rem;
    --margin-left:4rem; 
    --margin-right:4rem;
    --border-radius:.5rem;
    --border: solid white .2rem;
  }
  .header {
    max-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url();  
  }
  nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .nav-links ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--background-color);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li a:hover::after {
    width: 100%;
  }
  .h1,.h2 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #ffffff;
  }
  .h2{  
        font-size: .75rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        letter-spacing: .04em;
}
.container{  
  background-color: black;
  width: 100%;
  min-height: 80rem; /* play with */
  border: var(--border);/* find a way to remove the top margin from making a huge white space without using this as a scapegoat */
}
.lessonInfo{  
  margin: var(--margin-left) var(--margin-top) var(--margin-right) var(--margin-bottom);
  border-radius: var(--border-radius);
  border: var(--border);
}
.lessonInfo ul{
    list-style: none;
    color:white;
}