*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --text-colour: #fff;
}
body{
    background: #080710;
}
.container{
    height: 100vh;
    max-height: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-left-div {
    font-weight: 550;
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    border-radius: .25rem;
    box-shadow: 8px 10px 6px rgba(255, 255, 255, 0.2);
    /* note for me */
    /* off set to right, offset bottom, amount of blur */
  }
  .top-left-div:hover {
    font-weight: 500;
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    border-radius: .25rem;
    box-shadow: 8px 10px 1px rgba(255, 255, 255, 0.2);       
  }
  .top-left-div a{
  text-decoration: none;
    color: black;
  }
.form_body{
    position: relative;
    width: 40rem;
}
.help-form{
 position: relative;
 z-index: 2;
 padding: 40px;
 background-color: rgba(225,225,225,0.1);
 border-radius: 10px;
 backdrop-filter: blur(10px);
}
.help_title{
    padding-bottom: 28px;
    text-align: center;
    color: var( --text-colour);
}
.heading{
    text-align: center;
    flex-wrap: wrap;
    color: var( --text-colour);
    margin-bottom: 1rem;
}
/*  */

.help_form-label{
    display: block;
    padding-bottom: 20px;
}
.help-form_input{   
    border: #000 1px solid;
    margin-bottom: 1rem;
    resize: none;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px;
    color: var( --text-colour);
    font-size: 16px;
    background-color: rgba(225,225,225,0.07);
    border-radius: 3px;
}
.help-form_input::placeholder{
    color: var( --text-colour);
    letter-spacing: 1.5px;
}
/* TextArea scrollbar customizing  */
textarea::-webkit-scrollbar {
    width: 12px; 
  }    
  textarea::-webkit-scrollbar-track {
    background: #4d4949; /* Background color of the track */
  }    
  textarea::-webkit-scrollbar-thumb {
    background: rgba(49, 48, 48, 0.925); /* Color of the scrollbar handle */
    border-radius: 6px; 
  }    
  textarea::-webkit-scrollbar-thumb:hover {
    background: #1d1a1a; 
  }
/*  */
.label_buttons-body{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap:30px;
}
.submit_help_button{
    padding: 10px 0;
    border-radius: 3px;
    outline: none;
    border: none;
    width: 100%;
    color: #000;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 
    background-color 0.4s,
    color 0.4s;
}
.submit_help_button:hover{
    background-color: rgba(225,225,225,0.04);
    color: var( --text-colour);
}

@media(max-width:46px){
    .container
    {
        padding: 0 40 pxs;
    }
    .help-form{
        padding: 20px;
    }
    .help_title{
        font-size: 20px;
    }
    .form_body::before,
    .form_body::after
    {
        top: -55px; 
        left: -35px;
        width: 130px;
        height: 130px;           
    }
    .form_body::after
    {
        top: auto; 
        left: auto;
        right: -35px;
        bottom: -35px;                 
    }
}