*{
    margin: 0;
    padding: 0;
}
.context{
    text-align:start;
    width: 100%;
    margin-bottom:1rem;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
}
.context-center{
    text-align:center;
    width: 100%;
    margin-bottom:1rem;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
}